body {
    background-color: antiquewhite;

}

main {
    height: auto;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex: 1 1;

}

.repo {
    margin: 20px;
    background-color: grey;
    border-radius: 5px;
    border: 1px solid black;
    width: 300px;
}

.repo a {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.icon {
    height: 30px;
    width: 30px;

}